spring:
  datasource:
    url: jdbc:h2:mem:novelsite;MODE=MYSQL;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  thymeleaf:
    cache: false

logging:
  level:
    org.springframework.security: INFO
    com.novelplatform.novelsite: DEBUG
